<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/metadata.client.js"></script>
<script type="text/javascript">
var socket = io.connect('http://localhost:11111');
socket.on('connect', function(msg) {
  console.log("connet");
  document.getElementById("connectId").innerHTML = 
    "あなたの接続ID::" + socket.socket.transport.sessid;
  document.getElementById("type").innerHTML = 
    "接続方式::" + socket.socket.transport.name;
});

// ----------------------
// Utility functions


// Start-up
var log = function() {};
var readyToReqNewMdInfo = false;
var mdInfo = {};
window.onload=function(){
    // Define log() function
    log = function() {
        console.log(arguments);
        document.getElementById("receiveMsg").innerHTML+=arguments[0]+"<br />";
    };

    // Send inital message to the server
    socket.emit('req md info init', {});
}
socket.on('md info init', function(initMdInfo) {
    mdInfo = initMdInfo;
    var line = mdInfo['/home/nakatani/dddfs_md_mvmnt/traceA'];
    log(mdInfoLine2mdInfoHash(line).ip);
    readyToReqNewMdInfo = true;
});



// Polling MD info to server
var pollingToServer = setInterval(function() {
    if (readyToReqNewMdInfo == true) {
        readyToReqNewMdInfo = false;
        socket.emit('req md info', { sessionId: socket.socket.transport.sessid });
    }
}, 1000);
socket.on('md info', function(newMdInfo) {
    mdInfo = newMdInfo;
    for (var fileName in newMdInfo) {
        log('[Contents of ' + fileName + ']');
        log(newMdInfo[fileName]);
        log('');
    }
    readyToReqNewMdInfo = true;
});

</script>

<h1>socket.ioのサンプルプログラム</h1>
<div id="connectId"></div>
<div id="type"></div>
<br>
<div id="receiveMsg"></div>
