<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/metadata.js"></script>
<script type="text/javascript">
var socket = io.connect('http://localhost:11111');
socket.on('connect', function(msg) {
  console.log("connet");
  document.getElementById("connectId").innerHTML = 
    "あなたの接続ID::" + socket.socket.transport.sessid;
  document.getElementById("type").innerHTML = 
    "接続方式::" + socket.socket.transport.name;
});

// ----------------------
// Requires
// var md = require('/javascripts/metadata.js');


var logDiv;
window.onload=function(){
    logDiv = document.getElementById("receiveMsg");
}
var log = function(){ console.log(arguments);logDiv.innerHTML+=arguments[0]+"<br />"; }


// Polling MD info to server
var pollingToServer = setInterval(function() {
    socket.emit('req md info', { value: socket.socket.transport.sessid });
}, 1000);

// Receive MD info from server
socket.on('md info', function(mdInfo) {
    log(mdInfo);
});

</script>

<h1>socket.ioのサンプルプログラム</h1>
<div id="connectId"></div>
<div id="type"></div>
<br>
<div id="receiveMsg"></div>
